<header class="navbar-nav flex-column flex-md-row bd-navbar" id="navbar-main">
  <a clas="navbar-brand" href="{{.Site.BaseURL | relURL}}">
    <span id = "blog_logo">
    <img src="{{ .Site.Params.logo.url | relURL }}" alt="Blog Logo" style="height: 40px; width:40px">
    </span>
	{{if .IsHome}}
	{{if .Site.Params.showtitle}}
	<span id = "blog_title">{{.Site.Title}}</span>
	{{end}}
	{{end}}
  </a>
  <div class="navbar-nav-scroll" id="navbarNav">
    <ul class="navbar-nav bd-navbar-nav flexrow">
	  {{ range .Site.Menus.main  }}
	  <li><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
	  {{ end }}
    </ul>
  </div>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    {{ range .Site.Params.social }}
    <li class="navitem">
      <a itemprop="sameAs" href="{{  .link  }}" target="_blank" rel="noopener">
        <i class="fa fa-{{ .icon  }}"></i>
      </a>
    </li>  
    {{ end }}
  </ul>
</header>
