{{ partial "header.html" . }}
<body>
<div id="layout" class="pure-g">
<article class="pure-u-1">
{{ partial "nav.html" . }}
<div class="posts">
{{ range .Site.Pages }}
  {{if eq .Type "post" }}
    {{if eq .Title "Posts"}}
      <h2><a href="{{ .RelPermalink | relURL }}">See all posts</a></h2>
    {{else}}
      {{ partial "content.header.html" . }}
      <p>{{ .Params.excerpt }}</p>
      <p><a href="{{ .RelPermalink | relURL }}">Read On &rarr;</a></p>
      <hr>
    {{ end  }}
  {{ end }}
{{ end  }}
</div>
{{ partial "footer.html" . }}
</article>
</div>
</body>
</html>
